@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
.navbar{
    height: 150px;


    .wrapper{
        max-width: 1600px;
        margin:auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        @media (max-width: 390px) {
            h2 {
                font-size: 20px;
                margin-left: 20px;
            }
        }

        span{
            font-weight: bold;
            color: black;
            font-size: 30px;
            h2{
                font-family: 'Squada One', sans-serif;
            }
            
        }

        .logo{
            width: 200px;
            height: 200px;
            display: flex;
        }

        .social{
            display: flex;
            gap: 20px;

            .button1{
                background-image: linear-gradient(-180deg, #F6F7E6 0%, #F6F7E6 100%);
                border-radius: .5rem;
                box-sizing: border-box;
                color: #c0121e;
                display: flex;
                justify-content: center;
                padding: 1rem 1.75rem;
                text-decoration: none;
                width: 100%;
                border: 0;
                cursor: pointer;
                user-select: none;
                -webkit-user-select: none;
                touch-action: manipulation;
                align-items: center;
                gap: 20px;
                font-size: 30px;
                border: 2px solid #c0121e;
                border-width: 5px;
                font-weight: bold;
            }

            .button1:hover {
                background-image: linear-gradient(-180deg, wheat 0%, wheat 100%);
            }

            .button2{
                background-image: linear-gradient(-180deg, #F6F7E6 0%, #F6F7E6 100%);
                border-radius: .5rem;
                box-sizing: border-box;
                color: #c0121e;
                display: flex;
                justify-content: center;
                padding: 1rem 1.75rem;
                text-decoration: none;
                width: 100%;
                border: 0;
                cursor: pointer;
                user-select: none;
                -webkit-user-select: none;
                touch-action: manipulation;
                align-items: center;
                gap: 20px;
                font-size: 30px;
                border: 2px solid #c0121e;
                border-width: 5px;
                font-weight: bold;
            }

            .button2:hover {
                background-image: linear-gradient(-180deg, wheat 0%, wheat 100%);
            }

            

            img{
                width: 40px;
                height: 40px;
            }

            @media (max-width: 390px) {
                .button1 {
                    font-size: 10px;
                    width: 80%;
                    border-width: 2px;
                }
            }

            @media (max-width: 390px) {
                .button2 {
                    font-size: 10px;
                    width: 80%;
                    border-width: 2px;
                }
            }
        }

        @media (max-width: 390px) {
            .social {
                gap: 0px;
            }
        }

    }
    
}