.section3{
    .title{
        color: black;
        max-width: 2500px;
        width: 80%;
        height: 150px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
        font-size: 50px;
        align-items: center;
        font-weight: bold;

        @media (max-width: 390px) {
            h2 {
                height: 20px;
                font-size: 40px;
                margin-bottom: 10px;
            }
        }
    }

    .imageContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 300px;
        gap: 50px;
        @media (max-width: 390px) {
            gap: 3px;
            flex-direction: column;
            margin-top: 5px;
        }


        .im1{
            text-align: center;

            .i1{
                width: 180px; /* Réduit la largeur de chaque image à 100 pixels */
                height: auto; /* Maintient le rapport hauteur/largeur d'origine */
                margin: 10px; /* Espacement entre les images si nécessaire */
                @media (max-width: 390px) {
                    width: 30px;
                    margin: 1px;                }
            }

            .t1{
                color: black;
                @media (max-width: 390px) {
                    font-size: 10px;               }
            }
        }


        .im2{
            text-align: center;

            .i2{
                width: 180px; /* Réduit la largeur de chaque image à 100 pixels */
                height: auto; /* Maintient le rapport hauteur/largeur d'origine */
                margin: 10px; /* Espacement entre les images si nécessaire */
                @media (max-width: 390px) {
                        width: 30px;
                        margin: 1px;
                }
            }

            .t2{
                color: black;
                @media (max-width: 390px) {
                    font-size: 10px;
            }
            }
           
        }
    }


    .title2{
        color: black;
        max-width: 2500px;
        width: 80%;
        height: 200px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
        font-size: 50px;
        align-items: center;
        font-weight: bold;

        @media (max-width: 390px) {
            h2 {
                font-size: 30px;
                margin-bottom: 60px;
            }
        }
        }
    

    .cadreContainer{
        display: flex;
        justify-content: space-between;
        max-width: 1600px;
        align-items: center;
        margin: auto;
        font-weight: bold;
        @media (max-width: 390px) {
            gap: 8px;
            flex-direction: column;
            margin-top: -100px;
        }

        
        .cadre{
            border: 3px solid #000;
            padding: 10px;
            color: #000;
            font-size: 30px;
            text-align: center;
            height: 200px;
            width: 500px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-radius: 30px;
            @media (max-width: 390px) {
                font-size: 10px;
                height: 70px;
                width: 160px;
            }

            .p1{
                font-size: 100px;
                @media (max-width: 390px) {
                    font-size: 30px;
                }
            }
            .p2{
                font-size: 100px;
                @media (max-width: 390px) {
                    font-size: 30px;
                }
            }
        }

        .cadre1{
            border: 3px solid #000;
            padding: 10px;
            color: #000;
            font-size: 30px;
            text-align: center;
            height: 200px;
            width: 500px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-radius: 30px;
            font-weight: bold;
            @media (max-width: 390px) {
                font-size: 10px;
                height: 70px;
                width: 160px;
            }

            span{
                font-size: 16px;
            }
    }

      
}
}